
button{
    border-radius: 3px;
    padding: 5px 25px;
    color: white;
    background-color: #22262A;
    padding: 12px 25px;
    border: 1.3px solid  #22262A;
}
.button-large {
    padding: 15px 30px !important;
}
.button-colorless {
    background-color: rgba(255, 255, 255, 0) !important;
    border: 1.3px solid;
    padding: 10px 23px;
    border-radius: 3px;
}

.button-colorless-primary {
    background-color: rgba(255, 255, 255, 0) !important;
    border: 1.3px solid;
    padding: 10px 23px;
    border-radius: 3px;
    color: #33A0FF;
}
.button-primary{
    background-color: #33A0FF;
    padding: 12px 25px;
    border: 1.3px solid #33A0FF;
}
.button-primary:hover{
    background-color: #2E90E5;
}

.button-primary-opacity {
    background-color: rgba(234, 242, 253, 0.858);
    color: #33A0FF;
    padding: 12px 25px;
    border: #33A0FF;
}




.button-danger{
    background-color: #FF4858;
    padding: 12px 25px;
    border: 1.3px solid  #FF4858;
}
.button-danger:hover{
    background-color:#FF4252;
}
.button-colorless-danger {
    background-color: rgba(255, 255, 255, 0) !important;
    border: 1.3px solid;
    padding: 10px 23px;
    border-radius: 3px;
    color: #FF4858;
}
.button-danger-opacity {
    background-color: rgba(255, 72, 87, 0.139);
    color: #FF4858;
    padding: 12px 25px;
    border: #FF4858;
}




.button-warning{
    background-color: #FFC600;
    padding: 12px 25px;
    border: 1.3px solid  #FFC600;
}
.button-warning:hover{
    background-color: #EBB600;
}
.button-colorless-warning {
    background-color: rgba(255, 255, 255, 0) !important;
    border: 1.3px solid;
    padding: 10px 23px;
    border-radius: 3px;
    color: #EBB600;
}
.button-warning-opacity {
    background-color: rgba(10, 208, 10, 0.125);
    color: #FFC600;
    padding: 12px 25px;
    border: #FFC600;
}




.button-success{
    background-color: #0AD00A;
    padding: 12px 25px;
    border: 1.3px solid  #0AD00A;
}
.button-success:hover{
    background-color: #07C107;
}
.button-colorless-success {
    background-color: rgba(255, 255, 255, 0) !important;
    border: 1.3px solid;
    padding: 10px 23px;
    border-radius: 3px;
    color: #0AD00A;
}
.button-success-opacity {
    background-color: rgba(10, 208, 10, 0.166);
    color: #0AD00A;
    padding: 12px 25px;
    border: #0AD00A;
}




.button-default{
    background-color: #22262A;
    padding: 12px 25px;
    border: 1.3px solid  #22262A;
}
.button-default:hover{
    background-color: #13161A;
}
.button-colorless-default{
    background-color: rgba(255, 255, 255, 0) !important;
    border: 1.3px solid;
    padding: 10px 23px;
    border-radius: 3px;
    color: #22262A;
}
.button-default-opacity{
    background-color: rgba(34, 38, 42, 0.071);
    color: #22262A;
    padding: 12px 25px;
    border: #22262A;
}


.button-cart{
    position: absolute;
    background-color: rgba(234, 242, 253, 0.858);
    background-image: url('assets/cart_2.svg');
    background-position-x: 6px;
    background-position-y: 11px;
    background-repeat: no-repeat;
    color: #33A0FF;
    padding: 12px 25px;
    border: #33A0FF;
    cursor: pointer;
}
.button-cart-notext{
    position: absolute;
    background-color: rgba(234, 242, 253, 0.858);
    background-image: url('assets/cart_2.svg');
    background-position: center;
    background-repeat: no-repeat;
    color: #33A0FF;
    padding: 20px 20px;
    border: #33A0FF;
    cursor: pointer;
}
.button-favorites{
    position: absolute;
    background-color: rgba(234, 242, 253, 0.858);
    background-image: url('assets/hearts-1.svg');
    background-position-x: 6px;
    background-position-y: 12px;
    background-repeat: no-repeat;
    color: #33A0FF;
    padding: 12px 25px;
    border: #33A0FF;
    cursor: pointer;
}
.button-favorites-notext{
    position: absolute;
    background-color: rgba(234, 242, 253, 0.858);
    background-image: url('assets/hearts-1.svg');
    background-position: center;
    background-repeat: no-repeat;
    color: #33A0FF;
    padding: 20px 20px;
    border: #33A0FF;
    cursor: pointer;
}
