label{
    padding-top: 100px;
    position: absolute;
    font-size: 14px;
    font-weight: lighter;
    font-family: sans-serif;
    bottom: 38px;
}
form{
    margin-top: 50px;
    position: relative;
    appearance: none;
}
input{
    color: #26262609;
    font-size: 14px;
    border: 2px solid #F1F3F4;
    border-radius: 3px;
    width: 300px;
    height: 22px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 4px;
}

.form-large{
    display: none;
}