.thumbnail-container{
    position: relative;
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(60, 68, 85, 0.064);
    border-radius: 5px;
    height: 300px;
    padding: 30px;
    
    
}
.horizontal-line{
    position: absolute;
    border: 1px solid rgba(60, 68, 85, 0.064);
    height: 0.1px;
    width: 115%;
    right: -15px;
    margin: 25px 0px 0px 0px;
}
.info-container{
    
    display: flex;
    flex-direction: column;
    text-align: center;

}
.info-title{
    margin-top: 40px;
    text-align: center;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 14px;
    margin-bottom: 30px;
}
.price-container{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 90px;
    left: 70px;
}
.info-real-price{
    color: #FF4858;
    font-family: sans-serif;
    font-weight: lighter;
    padding: 5px;
    font-size: 16px;
}
.info-old-price{
    color: #C1C8CE;
    padding: 5px;
    font-family: sans-serif;
    font-weight: lighter;
    text-decoration: line-through;
    font-size: 16px;
}
.item-hover-overlay{
    z-index: 1;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.81);
    width: 260px;
    height: 195px;
    top: -20px;
    right: -10px;
}
.h-c-button-container{
    position: relative;
    display: flex;
    flex-direction: row;
    left: 50px;

}
.heartbutton{
    z-index: 2;
    position: absolute;
    width: 50px;
    height: 50px;
    border: 2px solid rgba(60, 68, 85, 0.249);
    border-radius: 50px;
    background-image: url('../assets/hearts.svg');
    background-repeat: no-repeat;
    background-position: center;
    left: 90px;
    top: 35%;
    cursor: pointer;
}
.cartbutton{
    z-index: 2;
    position: absolute;
    width: 50px;
    height: 50px;
    border: 2px solid rgba(60, 68, 85, 0.249);
    border-radius: 50px;
    background-image: url('../assets/cart_2.svg');
    background-repeat: no-repeat;
    background-position: center;
    left: 20px;
    top: 35%;
    cursor: pointer;
}







.thumbnail-container-opaque{
    position: relative;
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(60, 68, 85, 0.064);
    border-radius: 5px;
    height: 300px;
    padding: 30px;
    background: #FAFAFB;
}
.item-hover-overlay-opaque{
    z-index: 1;
    position: absolute;
    background-color: rgba(250, 250, 251, 0.858);
    width: 260px;
    height: 195px;
    top: -20px;
    right: -10px;
}
.heartbutton-opaque{
    z-index: 2;
    position: absolute;
    width: 50px;
    height: 50px;
    border: 2px solid #33A0FF;
    border-radius: 50px;
    background-image: url('../assets/heartwhite.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #33A0FF;
    left: 90px;
    top: 35%;
    cursor: pointer;
}
.cartbutton-opaque{
    z-index: 2;
    position: absolute;
    width: 50px;
    height: 50px;
    border: 2px solid #33A0FF;
    border-radius: 50px;
    background-image: url('../assets/cartwhite.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #33A0FF;
    left: 20px;
    top: 35%;
    cursor: pointer;
}




.thumbnail-container-stretch{
    position: relative;
    display: flex;
    flex-direction: row;
    border: 2px solid rgba(60, 68, 85, 0.064);
    border-radius: 5px;
    height: 200px;
    width: 520px;
    padding: 30px;

}
.thumbnail-container-stretch{
    position: relative;
    display: flex;
    flex-direction: row;
    border: 2px solid rgba(60, 68, 85, 0.064);
    border-radius: 5px;
    height: 200px;
    width: 520px;
    padding: 30px;
    
}
.thumbnail-container-stretch:hover{
    background-color: rgb(250, 250, 251);
    cursor: pointer;
}
.thumbnail-container-stretch-background{
    background-color: rgba(250, 250, 251, 0.904);
}
.info-title-stretch{
    margin-top: 44px;
    margin-left: 40px;
    text-align: center;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 17px;
    margin-bottom: 30px;
}
.info-rating-stretch{
    position: absolute;
    top: 82px;
    left: 40px;
}
.info-real-price-stretch{
    position: absolute;
    top: 15px;
    right: -10px;
    color: #FF4858;
    font-family: sans-serif;
    font-weight: lighter;
    padding: 5px;
    font-size: 16px;
}
.info-old-price-stretch{
    top: 15px;
    right: -60px;
    position: absolute;
    color: #C1C8CE;
    padding: 5px;
    font-family: sans-serif;
    font-weight: lighter;
    text-decoration: line-through;
    font-size: 16px;
}


.smallitem-container{
    display: flex;
    flex-direction: row;
    width: 320px;
    height: 160px;
    border: 2px solid black;
}
.item-div-border{
    height: 100%;
    width: 50%;
    border: 2px solid brown;
}
.details-div-border{
    position: relative;
    height: 100%;
    width: 50%;
    border: 2px solid blue;
}
.item-inside-border{
    position: absolute;
    width: 80%;
    height: 80%;
    left: 9%;
    top: 8%;
    border: 2px solid rgba(60, 68, 85, 0.064);
    border-radius: 5px;
}
.item-image-style{
    position: absolute;
    right: -18%;
}