.thumbnail-container{
    position: relative;
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(60, 68, 85, 0.16);
    border-radius: 5px;
    height: 300px;
    padding: 30px;
}
.horizontal-line{
    position: absolute;
    border: 1px solid rgba(60, 68, 85, 0.16);
    height: 0.1px;
    width: 115%;
    right: -15px;
}